.filterSelectorExtended-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 840px;
    padding: 7px 20px;

    backdrop-filter: blur(40px);
    border-radius: 24px;
    background: var(--background);
    border: 1px solid;
    border-image-source: var(--border-image-source);

}

.filterSelectorExtended-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--gray-1);
}

.filterSelectorExtended-checkbox {
    width: 24px;
    height: 24px;
    border: 1.5px solid var(--gray-1);
    box-sizing: border-box;
    border-radius: 6px;
    appearance: none;
    /* color: red; */
    /* transform: scale(0); */

    display: grid;
    place-content: center;

    appearance: none;
    background-color:transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    /* width: 1.15em;
    height: 1.15em; */
    /* border: 0.15em solid currentColor; */
    /* border-radius: 0.15em; */
    transform: translateY(-0.075em);


}

.filterSelectorExtended-checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    box-shadow: inset 1em 1em var(--gray-1); 
}


.filterSelectorExtended-checkbox:checked::before {
    transform: scale(1);
 }

 .filterSelectorExtended-item .city-country-display {
     background-color: unset;
 }

.filterSelectorExtended--arrow {
   display: flex;
   align-items: center;
}


@media (max-width: 1100px) {
    
    .serviceHomePage-container .serviceHomePage-services {
        max-width: 100%;
        width: 100%;    
    }
    
    .serviceHomePage-container .serviceHomePage-services .big-header {
        text-align: center;
    }

    .serviceHomePage-services .servicesOptions-main {
        max-width: 100%;
    }

    .serviceHomePage-services .servicesOptions-main .searchTextField-container {
        max-width: 100%;
    }
    
    .filterSelectorExtended-main {
        justify-content: space-between;
        gap: 10px;
    }

    .filterSelectorExtended-item {
        /* width: 100%; */
        text-align: center;
    }
    
} 