.bankAccountInput {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: var(--background);
	border: 1px solid;
	border-image-source: var(--border-image-source);
	backdrop-filter: blur(40px);
	border-radius: 12px;
	padding: 20px;
	max-width: 760px;
}

.bankAccountInput-row {
	display: flex;
	gap: 30px;
}

.bankAccountInput-row .textfield {
	width: 100%;
}

.bankAccountInput-last {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 570px) {
	.bankAccountInput-row {
		flex-wrap: wrap;
	}
}