.navbar {
	padding: 12px 40px 12px 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.603) 0%, rgba(255, 255, 255, 0) 133.32%, rgba(0, 0, 0, 0.335) 133.33%);
	backdrop-filter: blur(40px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar a {
	text-decoration: none;
}

.navbar-login-container {
	display: flex;
	align-items: center;
	gap: 39px;
}

.navbar-login {
	cursor: pointer;
}

.navbar-signup {
	cursor: pointer;
	background: #F7E246;
	border-radius: 24px;
	padding: 6px 30px;
}

.navbar-items {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbar-options {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbar-icons {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbar-icons div {
	cursor: pointer;
}

.navbar-user {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar-mob-btn {
	display: none;
}


@media (max-width: 1024px) {
	.navbar-mob-btn {
		display: flex;
	}

	.navbar {
		padding: 18px 20px;
	}

	.navbar-login-container,
	.navbar-options {
		display: none;
	}

	.navbar-icons {
		display: none;
	}

	.navbar-items {
		display: none;
	}
}

@media (max-width: 770px) {
}

@media (max-width: 600px) {
}