.table-container {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(40px);
    border-radius: 24px;
}

.table-radius--top {
    border-radius: 24px 24px 0px 0px;
    padding: 17px 20px !important;
}

.table-raduis--bottom {
    border-radius: 0px 0px 24px 24px;
    padding: 17px 20px !important;
}

.table-color--text {
    color: var(--gray-1);
}

@media (max-width: 420px) {
    
    .table-raduis--bottom {
        padding: 17px 10px !important;
    }  
}