.subMenuContent-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.subMenuContent-header {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.subMenuContent-content {
    width: 100%;
    display: flex;
    justify-content: center;
}